fastapi
uvicorn
sqlalchemy
psycopg2-binary
pgvector
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
alembic
python-dotenv
loguru
pytest
httpx
pgvector
sentence-transformers
google-genai
resend
scrapy
numpy
pandas
beautifulsoup4
lxml